body{
	 font-family: "Georgia", Georgia, serif;
	 background-color:rgb(234, 243, 246);
}
#description{
	text-align: center;
}
h1{
	text-align: center;
}
.margin{
	margin-right: 20px;
	margin-left: 20px;
}
#satImage{
	float: left;
	margin-left: 20px;
	margin-right: 5px;
	margin-bottom: 5px;
}
