{% extends "layout.html" %}

{% set active_page = "academics&GPA" %}

{% block title %}Academics and GPA{% endblock %}

{% block content %}
    <h1>Academics and GPA on Scores</h1>
	<p id="description">
		This graph represents the average math and verbal scores during the year 2015 in a given state for the average letter grade students recorded on their SAT.
	</p>

<script>
window.onload = function () {

var options = {
	animationEnabled: true,
	theme: "light2",
	backgroundColor: "#EAF3F6",
	title:{
		text: "{{stateName}} - Average Math and Verbal Scores Per Letter Grade"
	},
	axisY:{
		title:"Math and Verbal Scores"
	},
	toolTip: {
		shared: true,
		reversed: true
	},
	data: [{
		type: "stackedColumn",
		name: "Math",
		showInLegend: "true",
		yValueFormatString: "###",
		dataPoints: [
			{{mathScore}}
		]
	},
	{
		type: "stackedColumn",
		name: "Verbal",
		showInLegend: "true",
		yValueFormatString: "###",
		dataPoints: [
			{{verbalScore}}
		]
	}]
};

$("#GPABarGraph").CanvasJSChart(options);
}
</script>
	<div id="GPABarGraph" style="height: 300px; width: 100%;"></div>
	
	<form action="/academics&GPAreply">
	<p class="margin">
		Use the the navigator below to change which state's data is represented in the graph.
	</p>
		<select class="margin" name="states">
		  {{state}}
		</select>
		<input type="submit" value="change the state">
	</form>
	
{% endblock %}
