{% extends "layout.html" %}

{% set active_page = "familyIncome" %}

{% block title %}Family Income{% endblock %}

{% block content %}

    <h1>Family Income on Scores</h1>
    <p class='description'>
		This graph represents the average math and verbal scores during the year 2015 in a given state for the average family household income.
	</p>

<script>
window.onload = function () {
var options = {
	animationEnabled: true,
	theme: "light2",
	backgroundColor: "#EAF3F6",
	title:{
		text: "{{stateName}} - Average Math and Verbal Scores per Average Family Income"
	},
	axisY:{
		title:"Math and Verbal Scores"
	},
	toolTip: {
		shared: true,
		reversed: true
	},
	data: [{
		type: "stackedColumn",
		name: "Math",
		showInLegend: "true",
		yValueFormatString: "###",
		dataPoints: [
			{{mathScore}}
		]
	},
	{
		type: "stackedColumn",
		name: "Verbal",
		showInLegend: "true",
		yValueFormatString: "###",
		dataPoints: [
			{{verbalScore}}
		]
	}]
};
$("#IncomeBarGraph").CanvasJSChart(options);
}
</script>
	<div id="IncomeBarGraph" style="height: 300px; width: 100%;"></div>
	
	<form action="/familyIncomeReply">
	<p class="margin">
		Use the the navigator below to change which state's data is represented in the graph.
	</p>
		<select class="margin" name="states">
		  {{state}}
		</select>
		<input type="submit" value="change the state">
	</form>


{% endblock %}

