{% extends "layout.html" %}

{% set active_page = "gender" %}

{% block title %}Gender{% endblock %}

{% block content %}

    <h1>Gender on Average Math and Verbal Scores</h1>

<script type="text/javascript">
   window.onload = function() {

var options = {
	backgroundColor: "#EAF3F6",
	title: {
		text: "{{stateName}} - Female Math and Verbal Scores"
	},
	data: [{
			type: "pie",
			startAngle: 45,
			showInLegend: "true",
			legendText: "{label}",
			indexLabel: "{label} ({y})",
			yValueFormatString:"#,##0.#"%"",
			dataPoints: [
				{{femaleScore}}
			]
	}]
};
$("#femalePieChart").CanvasJSChart(options);
   
var options = {
	backgroundColor: "#EAF3F6",
	title: {
		text: "{{stateName}} - Male Math and Verbal Scores"
	},
	data: [{
			type: "pie",
			startAngle: 45,
			showInLegend: "true",
			legendText: "{label}",
			indexLabel: "{label} ({y})",
			yValueFormatString:"#,##0.#"%"",
			dataPoints: [
				{{maleScore}}
			]
	}]
};
$("#malePieChart").CanvasJSChart(options);

}
</script>

<div id="femalePieChart" style="height: 370px; width: 100%;"></div> 
<div id="malePieChart" style="height: 370px; width: 100%;"></div>

	<form action="/genderReply">
	<p class="margin">
		Use the the navigator below to change which state's data is represented in the graphs.
	</p>
		<select class="margin" name="states">
		  {{state}}
		</select>
		<input type="submit" value="change the state">
	</form>
 
</form>

{% endblock %}
