  
{% extends "layout.html" %}

{% set active_page = "home" %}

{% block title %}About this Database{% endblock %}

{% block content %}

    <h1>About this Database</h1>
<form action="/">
    <p>
      This dataset consists of average math and verbal SAT score acrosss the United States 
      collected from the year 2005.  This data is broken down into various different 
      catagories, including, family income, gender, state, average GPA by subject, and 
      average letter grade.
    </p>
    <p>
      For each state, the total number of test takers and the average math and verbal scores 
      state wide.  Then the average GPA per subject is listed, along with the average number of 
      years that students took the course.  The subjects include Arts/Music, English, Forgien 
      Language, Mathematics, Natural Science, and Social Sciences/History.  The next set of data 
      respreseted is the family income.  The family income is divided into different ranges and 
      within each range is the number of test takers in that income bracket and the average math 
      and verbal scores.
    </p>
    <p>
      After this is the GPA, represented as the average letter grade.  The grades range from A+ 
      to D or lower to no response (no response being that the student did not provide thier 
      average letter grade).  Within each letter grade is the average math and verbal scores as 
      well as the total number of test takers.  In addition, the is divided up by gender.  For 
      both male and female, the average math and verbal scores are listed as well as the total 
      number of test takeres per gender.  Finally, the data set has the number of males and 
      females that scores within six different ranges for both math and verbal.
    </p>
</form>

{% endblock %}
