<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script rel="interactive" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>  
	<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  <title>{% block title %}{% endblock %} - SAT School Scores</title>
  
  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="/">SAT School Scores</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li {% if active_page == "home" %} class="nav-item active"{%else%}class="nav-item"{% endif %}><a class="nav-link" href="/">About the Dataset</a></li>
	        <li {% if active_page == "familyIncome" %} class="nav-item active"{%else%}class="nav-item"{% endif %}><a class="nav-link" href="/familyIncome">Family Income</a></li>
	        <li {% if active_page == "gender" %} class="nav-item active"{%else%}class="nav-item"{% endif %}><a class="nav-link" href="/gender">Gender</a></li>
	        <li {% if active_page == "academics&GPA" %} class="nav-item active"{%else%}class="nav-item"{% endif %}><a class="nav-link" href="/academics&GPA">Academics and GPA</a></li>
          </ul>
      </div>
    </nav>
    {% block content %}{% endblock %}
	<link rel="interactive" href="{{url_for('static', filename='myscript.js')}}">
  </body>
</html>
